<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wpc5100.a411pro">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.411Pro">
        <activity
            android:name=".coffee"
            android:exported="true"
            android:label="An Energizing Start to Your Day!"/>
        <activity
            android:name=".BreakfastActivity"
            android:exported="true"
            android:label="Have a Sweet Treat for Breakfast!" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Welcome to the Raspberry Pi Shoppe!">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>